/Assignment 5/CalculatorWSApplication/nbproject/private/
/Assignment 5/calc/nbproject/private/
/Assignment 5/CalculatorWSApplication/build/
/Assignment 5/CalculatorWSApplication/dist/
/Assignment 5/Calculator/CalculatorClientApp/nbproject/private/
/Assignment 5/Calculator/CalculatorApp/nbproject/private/
/Assignment 5/Calculator/CalculatorClientApp/build/
/Assignment 5/Calculator/CalculatorApp/build/